.body-background{
    background-color: blueviolet;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin : auto;
    max-width: 900px;
    row-gap: 1px;
    
    column-gap: 1px;
}
.detailsbox{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 25px;
    max-width: 500px;
    border: 5px;
    padding: 20px;
}

.formula-box{
    background-color:lightblue ;
    padding-left: 20px;
    border-left: 4px solid blue;
    
}